Bootstrap: localimage
From: <path/to/cgpcavemanwrapper_{version}.sif>

%files
    # Copy caveman_wrapper package to container
    </path/to/caveman_wrapper> /opt/wtsi-cgp

%post

    export TZ=UTC
    export DEBIAN_FRONTEND=noninteractive

    apt-get update && apt-get install -y python3.10 python3-pip vim less gdb strace

    # Upgrade pip + install required packages
    python3 -m pip install --upgrade pip
    pip3 install wheel==0.45.1 pysam==0.23.3

    pip3 install /opt/wtsi-cgp/caveman_wrapper

%environment
    # These are needed otherwise singularity build hangs finding atime zone
    TZ=UTC
    DEBIAN_FRONTEND=noninteractive
